# =====================================
# PostgreSQL
# =====================================

POSTGRES_DB=reservago_db
POSTGRES_USER=reservago
POSTGRES_PASSWORD=reservago123

# =====================================
# Backend
# =====================================

PORT=3001
JWT_SECRET=CAMBIAR_EN_PRODUCCION

# =====================================
# Frontend
# =====================================

NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1